* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 400;
}

.searchBoxContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    letter-spacing: 0.15vw;
    width: 100%;
    height: 25.5vw;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/globe-2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.buttonStyle {
    background-color: rgb(182, 87, 226);
    border: none;
    color: white;
    padding: 1vw 1.5vw;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2vw;
    font-weight: 600;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 2px;
    z-index: 1;
}

#header1 {
    font-size: 3vw;
    letter-spacing: 0.8vw;
    font-weight: 500;
    margin-top: 5vw;
}

.header2 {
    font-size: 1.3vw;
    letter-spacing: 0.1vw;
    font-weight: 700;
    margin-bottom: 1vw;
}

.inputSearchButton {
    position: relative;
}

.inputClass {
    height: 3.3vw;
    width: 40%;
    padding-left: 1.5vw;
    font-size: 1.3vw;
    font-weight: 700;
    margin-top: 2vw;
    border-radius: 20px;
    color: rgb(73, 73, 73);
}

.inputClass::placeholder {
    text-align: center;
}

.inputClass:focus {
    outline: none;
}

.search {
    background-color: transparent;
    border: none;
    font-size: 1.3vw;
    font-weight: 700;
    cursor: pointer;
    position: absolute;
    top: 2.8vw;
    left: 67vw;
}

.search i {
    color: rgb(73, 73, 73);
}
.countries {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    width: 80%;
    margin: 3vw auto 0 ;
    color: black;
}
.description {
    height: 2vw;
}
